WS_CV_002/Resources/XSD/rest_response.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/response_validation"
            targetNamespace="http://TargetNamespace.com/response_validation" elementFormDefault="qualified">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="header" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="clientApp" type="xsd:string"  minOccurs="0" />
              <xsd:element name="timestamp" type="xsd:dateTime"  minOccurs="0" />
              <xsd:element name="jurisdiction" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="requestId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="body" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="code" type="xsd:string" minOccurs="0"/>
              <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CODE" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MESSAGE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="CNT_NUMERO" minOccurs="0"/>
              <xsd:element name="CNT_CENTRE" minOccurs="0"/>
              <xsd:element name="CNT_STATUS" minOccurs="0"/>
              <xsd:element name="CNT_STATUSCONTACT" minOccurs="0"/>
              <xsd:element name="CNT_GERANT1" minOccurs="0"/>
              <xsd:element name="CNC_PRENOM" minOccurs="0"/>
              <xsd:element name="CNC_NOM" minOccurs="0"/>
              <xsd:element name="CNT_NATIONALITE" minOccurs="0"/>
              <xsd:element name="CNT_TYPECONTACT" minOccurs="0"/>
              <xsd:element name="CNC_IDENTFISCALE" minOccurs="0"/>
              <xsd:element name="CNT_FORMEJURIDIQUE" minOccurs="0"/>
              <xsd:element name="CNT_PSEUDONYME" minOccurs="0"/>
              <xsd:element name="CNC_NUMDOCIDENTITE" minOccurs="0"/>
              <xsd:element name="CNT_GROUPEGESTION" minOccurs="0"/>
              <xsd:element name="CNT_OPERANTCREATION" minOccurs="0"/>
              <xsd:element name="CNT_DATENAISSANCE" minOccurs="0"/>
              <xsd:element name="CNT_NUM_CNT_EXTERNE" minOccurs="0"/>
              <xsd:element name="CNT_GERANT3" minOccurs="0"/>
              <xsd:element name="CNT_GERANT2" minOccurs="0"/>
              <xsd:element name="CNC_CNT_NUMERO" minOccurs="0"/>
              <xsd:element name="CNT_AGENT" minOccurs="0"/>
              <xsd:element name="CNT_MONTANT3" minOccurs="0"/>
              <xsd:element name="CNT_MONTANT4" minOccurs="0"/>
              <xsd:element name="CNT_MONTANT1" minOccurs="0"/>
              <xsd:element name="CNT_MONTANT2" minOccurs="0"/>
              <xsd:element name="CNT_DATEDECES" minOccurs="0"/>
              <xsd:element name="CNT_MONTANT5" minOccurs="0"/>
              <xsd:element name="CNT_DATEEMISSION" minOccurs="0"/>
              <xsd:element name="CNT_DATE2" minOccurs="0"/>
              <xsd:element name="CNT_TEXTE2" minOccurs="0"/>
              <xsd:element name="CNT_DATE3" minOccurs="0"/>
              <xsd:element name="CNT_TEXTE3" minOccurs="0"/>
              <xsd:element name="CNT_TEXTE4" minOccurs="0"/>
              <xsd:element name="CNT_DATE1" minOccurs="0"/>
              <xsd:element name="CNT_TEXTE5" minOccurs="0"/>
              <xsd:element name="CNT_DATE5" minOccurs="0"/>
              <xsd:element name="CNT_TEXTE1" minOccurs="0"/>
              <xsd:element name="CNT_DATE4" minOccurs="0"/>
              <xsd:element name="CNT_DATEECHEANCE" minOccurs="0"/>
              <xsd:element name="CNC_NUMIDENTNATIO" minOccurs="0"/>
              <xsd:element name="CNT_DATEVALIDITE" minOccurs="0"/>
              <xsd:element name="CNT_PHOTO" minOccurs="0"/>
              <xsd:element name="CNT_PASSPORT" minOccurs="0"/>
              <xsd:element name="CNT_SIGNATURE" minOccurs="0"/>
              <xsd:element name="CNT_LANGUE" minOccurs="0"/>
              <xsd:element name="CNT_LANGUEDOCUMENTS" minOccurs="0"/>
              <xsd:element name="CNT_ETATCIVIL" minOccurs="0"/>
              <xsd:element name="CNT_CIVILITE" minOccurs="0"/>
              <xsd:element name="CNT_SEXE" minOccurs="0"/>
              <xsd:element name="CNT_NATIONALITE2" minOccurs="0"/>
              <xsd:element name="CNT_PAYSNAISSANCE" minOccurs="0"/>
              <xsd:element name="CNT_SIGNEASTRO" minOccurs="0"/>
              <xsd:element name="CNT_NBRENFANTS" minOccurs="0"/>
              <xsd:element name="CNT_NBRENFANTS2" minOccurs="0"/>
              <xsd:element name="CNT_CODE1" minOccurs="0"/>
              <xsd:element name="CNT_NIVEAUETUDE" minOccurs="0"/>
              <xsd:element name="CNT_SECTEURACTIVITE" minOccurs="0"/>
              <xsd:element name="CNT_PHRASECONV" minOccurs="0"/>
              <xsd:element name="CNT_HORIZONINVEST" minOccurs="0"/>
              <xsd:element name="CNT_CONNAISSANCEMARCHES" minOccurs="0"/>
              <xsd:element name="CNT_AGENTPUBLIC" minOccurs="0"/>
              <xsd:element name="CNT_LIENINTERNE" minOccurs="0"/>
              <xsd:element name="CNT_PATRIMOINEEXTERNEGLOBAL" minOccurs="0"/>
              <xsd:element name="CNT_PROVFONDS" minOccurs="0"/>
              <xsd:element name="CNT_PROFESSION" minOccurs="0"/>
              <xsd:element name="CNT_RELATIONBANQUE" minOccurs="0"/>
              <xsd:element name="CNT_CDORIGINEENTREERELATION" minOccurs="0"/>
              <xsd:element name="CNT_CODEREPORTINGFISCAL" minOccurs="0"/>
              <xsd:element name="CNT_REVENUSINVESTISSEMENTS" minOccurs="0"/>
              <xsd:element name="CNT_PAYSARISQUE" minOccurs="0"/>
              <xsd:element name="CNT_ACTIVITEARISQUE" minOccurs="0"/>
              <xsd:element name="CNT_SITUFISCALE" minOccurs="0"/>
              <xsd:element name="CNT_TAUXIMPOSITIONTXT" minOccurs="0"/>
              <xsd:element name="CNT_TAUXIMPOSITION" minOccurs="0"/>
              <xsd:element name="CNT_REGIMEMATRIMONIAL" minOccurs="0"/>
              <xsd:element name="CNT_RETRAITE" minOccurs="0"/>
              <xsd:element name="CNT_CHIFFREAFFAIRE" minOccurs="0"/>
              <xsd:element name="CNT_DEVISECA" minOccurs="0"/>
              <xsd:element name="CNT_PRODUITPRINCIPAL" minOccurs="0"/>
              <xsd:element name="CNT_MARCHEPRINCIPAL" minOccurs="0"/>
              <xsd:element name="CNT_NBRESALARIES" minOccurs="0"/>
              <xsd:element name="CNT_SITEINTERNET" minOccurs="0"/>
              <xsd:element name="CNT_IMPOTSURFORTUNE" minOccurs="0"/>
              <xsd:element name="CNT_INITIE" minOccurs="0"/>
              <xsd:element name="CNT_SEGMENTATION" minOccurs="0"/>
              <xsd:element name="CNT_CONTACTUS" minOccurs="0"/>
              <xsd:element name="CNT_MONNAIE" minOccurs="0"/>
              <xsd:element name="CNT_MONNAIE1" minOccurs="0"/>
              <xsd:element name="CNT_MONNAIE2" minOccurs="0"/>
              <xsd:element name="CNT_MONNAIE3" minOccurs="0"/>
              <xsd:element name="CNT_MONNAIE4" minOccurs="0"/>
              <xsd:element name="CNT_MONNAIE5" minOccurs="0"/>
              <xsd:element name="CNT_CODE2" minOccurs="0"/>
              <xsd:element name="CNT_CODE3" minOccurs="0"/>
              <xsd:element name="CNT_CODE4" minOccurs="0"/>
              <xsd:element name="CNT_CODE5" minOccurs="0"/>
              <xsd:element name="CNT_DATECREATION" minOccurs="0"/>
              <xsd:element name="CNT_HEURECREATION" minOccurs="0"/>
              <xsd:element name="CNT_OPERANTMUTATION" minOccurs="0"/>
              <xsd:element name="CNT_DATEMUTATION" minOccurs="0"/>
              <xsd:element name="CNT_HEUREMUTATION" minOccurs="0"/>
              <xsd:element name="CNT_ANCIENNEREFCONTACT" minOccurs="0"/>
              <xsd:element name="CNT_PROFILGESTION" minOccurs="0"/>
              <xsd:element name="CNT_COMMENTAIREPRO" minOccurs="0"/>
              <xsd:element name="CNT_PAYSRESIDFISCALE" minOccurs="0"/>
              <xsd:element name="CNT_TAXEEU" minOccurs="0"/>
              <xsd:element name="CNT_TAXELOCALE" minOccurs="0"/>
              <xsd:element name="CNT_NIVEAUCLIENTELE" minOccurs="0"/>
              <xsd:element name="CNT_USRESIDENT" minOccurs="0"/>
              <xsd:element name="CNT_LIEUNAISSANCE" minOccurs="0"/>
              <xsd:element name="CNT_POTENTIEL" minOccurs="0"/>
              <xsd:element name="CNT_EMPLOYEUR" minOccurs="0"/>
              <xsd:element name="CNT_DESCRACTIVITE" minOccurs="0"/>
              <xsd:element name="CNT_DESCRORIGFOND" minOccurs="0"/>
              <xsd:element name="CNT_PATRIMOINEGLOBAL" minOccurs="0"/>
              <xsd:element name="CNT_ORIGINE" minOccurs="0"/>
              <xsd:element name="CNT_COMMENTAIREORIGINE" minOccurs="0"/>
              <xsd:element name="CNT_VIA" minOccurs="0"/>
              <xsd:element name="CNT_VIAACCOUNTMANAGER" minOccurs="0"/>
              <xsd:element name="CNT_VIASALESMANAGER" minOccurs="0"/>
              <xsd:element name="CNT_VIAAGENT" minOccurs="0"/>
              <xsd:element name="CNT_VIABUREAUREPRES" minOccurs="0"/>
              <xsd:element name="CNT_VIANOTRESITE" minOccurs="0"/>
              <xsd:element name="CNT_VIAAUTRE" minOccurs="0"/>
              <xsd:element name="CNT_REMARQUE" minOccurs="0"/>
              <xsd:element name="CNT_ASSISTANT" minOccurs="0"/>
              <xsd:element name="CNT_PROFESSIONNEL" minOccurs="0"/>
              <xsd:element name="CNT_COMMERCIAL" minOccurs="0"/>
              <xsd:element name="CNT_BUREAUREPRES" minOccurs="0"/>
              <xsd:element name="CNT_NATURE" minOccurs="0"/>
              <xsd:element name="CNT_SECURISE" minOccurs="0"/>
              <xsd:element name="CNT_LIEUTRAVAIL" minOccurs="0"/>
              <xsd:element name="CNT_DOMICILELEGAL" minOccurs="0"/>
              <xsd:element name="CNT_PSD_NUMERO" minOccurs="0"/>
              <xsd:element name="CNT_RAU_CLIRAC" minOccurs="0"/>
              <xsd:element name="CNT_SECTEURECONOMIQUE" minOccurs="0"/>
              <xsd:element name="CNT_DOUBLE_IMPOSITION" minOccurs="0"/>
              <xsd:element name="CNT_DATEREALCA" minOccurs="0"/>
              <xsd:element name="CNT_DATEEMBAUCHE" minOccurs="0"/>
              <xsd:element name="CNT_JUR" minOccurs="0"/>
              <xsd:element name="CNT_DATENOMINATION" minOccurs="0"/>
              <xsd:element name="CNT_COUR" minOccurs="0"/>
              <xsd:element name="CNT_TRIBUNAL" minOccurs="0"/>
              <xsd:element name="CNT_REGION" minOccurs="0"/>
              <xsd:element name="CNT_CONSEIL" minOccurs="0"/>
              <xsd:element name="CNT_NUMAFFIALIATION" minOccurs="0"/>
              <xsd:element name="CNT_REFERENCE" minOccurs="0"/>
              <xsd:element name="CNT_DATECHEANCE" minOccurs="0"/>
              <xsd:element name="CNT_JURRATTACHEMENT" minOccurs="0"/>
              <xsd:element name="CNT_CONV_JUR" minOccurs="0"/>
              <xsd:element name="CNT_CODE_SEGMENT" minOccurs="0"/>
              <xsd:element name="CNT_CODE_TRIBUNAL" minOccurs="0"/>
              <xsd:element name="CNT_RACINE_RESERVEE" minOccurs="0"/>
              <xsd:element name="CNT_FAT_IDENTIFICATION" minOccurs="0"/>
              <xsd:element name="CNT_FAT_INDICE_US" minOccurs="0"/>
              <xsd:element name="CNT_FAT_US_PERSON" minOccurs="0"/>
              <xsd:element name="CNT_FAT_FFI" minOccurs="0"/>
              <xsd:element name="CNT_FAT_PATRIMOINE" minOccurs="0"/>
              <xsd:element name="CNT_RISQUE_IMAGE" minOccurs="0"/>
              <xsd:element name="CNT_CIS_NOTE_RISQUE" minOccurs="0"/>
              <xsd:element name="CNT_CIS_RECALCUL_SCORING" minOccurs="0"/>
              <xsd:element name="CNT_LIEUDELIVRANCE" minOccurs="0"/>
              <xsd:element name="CNT_US_CITIZEN" minOccurs="0"/>
              <xsd:element name="CNT_FAT_REC_CODE" minOccurs="0"/>
              <xsd:element name="CNT_ASSUJETTI_TVA" minOccurs="0"/>
              <xsd:element name="CNT_SCORE_RISQUE" minOccurs="0"/>
              <xsd:element name="CNC_NOMJEUNEFILLE" minOccurs="0"/>
              <xsd:element name="CNC_TYPDOCIDENTITE" minOccurs="0"/>
              <xsd:element name="CNC_RAISONSOCIALE" minOccurs="0"/>
              <xsd:element name="CNC_SNDX_NOM_ALPHA" minOccurs="0"/>
              <xsd:element name="CNC_SNDX_NOM_NOMBRE" minOccurs="0"/>
              <xsd:element name="CNC_SNDX_PRENOM_ALPHA" minOccurs="0"/>
              <xsd:element name="CNC_SNDX_PRENOM_NOMBRE" minOccurs="0"/>
              <xsd:element name="CNC_SNDX_NOMJF_ALPHA" minOccurs="0"/>
              <xsd:element name="CNC_SNDX_NOMJF_NOMBRE" minOccurs="0"/>
              <xsd:element name="CNC_DATE_VERIF_WCK" minOccurs="0"/>
              <xsd:element name="CNC_SYN_NOM" minOccurs="0"/>
              <xsd:element name="CNC_SYN_PRENOM" minOccurs="0"/>
              <xsd:element name="CNC_SYN_NOMJFILLE" minOccurs="0"/>
              <xsd:element name="CNC_PRENOM2" minOccurs="0"/>
              <xsd:element name="CNC_PRENOM3" minOccurs="0"/>
              <xsd:element name="CNC_PAYSIDENTNATIO2" minOccurs="0"/>
              <xsd:element name="CNC_TYPDOCIDENTITE2" minOccurs="0"/>
              <xsd:element name="CNC_NUMIDENTNATIO2" minOccurs="0"/>
              <xsd:element name="CNC_INFOIDENTNATIO2" minOccurs="0"/>
              <xsd:element name="CNC_DATEEMISSION2" minOccurs="0"/>
              <xsd:element name="CNC_DATEECHEANCE2" minOccurs="0"/>
              <xsd:element name="CNC_PAYSIDENTNATIO3" minOccurs="0"/>
              <xsd:element name="CNC_TYPDOCIDENTITE3" minOccurs="0"/>
              <xsd:element name="CNC_NUMIDENTNATIO3" minOccurs="0"/>
              <xsd:element name="CNC_INFOIDENTNATIO3" minOccurs="0"/>
              <xsd:element name="CNC_DATEEMISSION3" minOccurs="0"/>
              <xsd:element name="CNC_DATEECHEANCE3" minOccurs="0"/>
              <xsd:element name="CNT_SEGMENTMARCHE1" minOccurs="0"/>
              <xsd:element name="CNT_SEGMENTMARCHE2" minOccurs="0"/>
              <xsd:element name="CNT_OPERANTMODIF" minOccurs="0"/>
              <xsd:element name="CNT_DATEMODIF" minOccurs="0"/>
              <xsd:element name="CNT_HEUREMODIF" minOccurs="0"/>
              <xsd:element name="CNT_STATUS_VALIDITE" minOccurs="0"/>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation xmlns="">
    <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
</xsd:schema>