WS_CV_010/Resources/WS_C_010_RestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://TargetNamespace.com/request_validation_cvm" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="WS_C_010_RestReference">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/request_validation_cvm" schemaLocation="XSD/WS_C_010_rest_request.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/response_validation" schemaLocation="XSD/WS_C_010_rest_response.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/api/cnt/{MCC_CNT_NUMERO}/addresses/{ADDRESS_ID}">
         <method name="PATCH" soa:wsdlOperation="PATCH">
            <request soa:paramElement="pns:Root-Element" xmlns:pns="http://TargetNamespace.com/request_validation_cvm">
               <param name="MCC_CNT_NUMERO" style="template" soa:expression="$msg.request/ns0:MCC_CNT_NUMERO" type="xsd:string"/>
               <param name="ADDRESS_ID" style="template" soa:expression="$msg.request/ns0:ADDRESS_ID" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/response_validation"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
